<!DOCTYPE html>
<html>
  <head>
    <title>Hello, World!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titan+One">
    <link rel="sytlesheet" href="/css/main.css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 id="top">Hello, World!</h1>
      </div>
      <div class="alert alert-info" role="alert">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">My projects on GitHub</h5>
                <p class="card-text">Just starting out with DevOps tools and concepts. Click below to go to my GitHub page.</p>
                <a href="https://github.com/arvindgorur/" class="btn btn-primary">My GitHub Repos</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">My Docker Hub repos</h5>
                <p class="card-text">Experimenting with Docker containers. Here are some test images I've uploaded to my Docker Hub!</p>
                <a href="https://hub.docker.com/r/arvindgorur/" class="btn btn-primary">Docker Hub Repos</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Need to get the weather?</h5>
                <p class="card-text">Click below to get the weather in your choice of cities!</p>
                <br>
                <a href="/wx" class="btn btn-primary">Go!</a>
              </div>
            </div>
          </div>
        </div>
        <p>
        <div class="alert alert-success">
          <h4>Copyright Arvind Gorur 2018</h4>
        </div>
      </div>
    </div>
  </body>
</html>
